
  

  .containernavbar{
    --bs-gutter-x: 0 !important;
    justify-content: center;   
    border-bottom: solid .1em rgba(0, 0, 0, 0.042); 
  }

  .bg-body-tertiary {
    --bs-bg-opacity: 0 !important;
  }
  .logoimg{
    width: 100%;
  }
 
  .navbar-brand{
    width: 20%;
    margin-left: 3%;
  }

  .navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
  }
  .espacioTop{
    margin-top: 20%;
  }
  .nav-links{
    display: block;
    padding:  7% 0% 7% 1.5% ;
    text-align: center;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    /* background: white; */
    border: 0;
    transition: color .15s ease-in-out,background-color .10s ease-in-out,border-color .15s ease-in-out;
    /* padding-left: 3em; */
    
  }
  .nav-link{
    
    padding: 7% 0% 7% 2% !important; 
    text-align: center;
    
  }
  
  .nav-dropdown{
    background: rgba(255, 255, 255, 0);  
    
  }
  .dropdown-menu {
    --bs-dropdown-min-width: 15rem !important;
    --bs-dropdown-border-color: none !important;
    background-color: transparent !important;
    
  }

  .dropdown-item {
    display: block;
    width: 100%;
    /* padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x); */
    padding: 0% 0% 2.5% 0% !important;
    color: rgb(108, 102, 102) !important;
    clear: both;
    font-weight: 400;
    /* text-align: inherit; */
    text-decoration: none;
    white-space: nowrap;
    text-align: center !important;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius,0);
    
}
 /*color: var(--bs-dropdown-link-color);*/

 .navbar-collapse{
    flex-grow: 0 !important;
   
  }
 

  .navbar-toggler{
    border: solid rgba(240, 248, 255, 0) !important;
    width: 5%;
    text-align: right;
    padding: 0;
    
  }
  .navbar-toggler.collapsed{

  }
  .navbar-toggler:focus{
    text-decoration: none;
    box-shadow: none !important;
  }

  .iconnavbar{
    display:none
    
  }

  .iconnavbarMobile{
      display: flex;
      flex-direction: row !important;
      width: 100%;
      padding: 0% 38% 0% 41%;
      
  }
  .iconMobile{
    padding: 40% 0% 0% 0%;
  }


  .icon{
    width: 100%;
    color: rgb(94, 89, 89);
    font-size: 1.2rem;
  }
  .iconcontainer{
    width: 100%;
    display: flex !important;
    align-items: center;
    padding-right: 5%;
  }
  .iconcontainer:hover{
    transform: scale(1.3);
  }
  
  .navbarcollapse {
    position: fixed;
    top: 10%;
    bottom:0%;
    left: 0%;
    width: 100%;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.719);
    z-index: 1050;
    /* overflow-y: auto; */
}
.mobile-only-text{
  display: flex;
  justify-content: center;
  font-style: italic;
  align-items: center;
  padding: 5% 0% 0% 3.5%;
  color: rgb(108, 102, 102);
}

.mobile-only-text-agos{
  font-style: italic;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 0% 0% 3.5%;
  color: rgb(108, 102, 102);

}
.navbar{
  padding: 0 !important;
}
 
@media (min-width: 340px) {
  .container {
    max-width: 250px;
  }
  .navbarcollapse {
    top: 8%;
  }
}
@media (min-width: 370px) {
  
  .container {
    max-width: 300px;
}
}
@media (min-width: 410px) {
  .navbarcollapse {
    left: 0%;
    top: 10%;
  }
  .espacioTop{
    margin-top: 10%;
  }

  .container {
    max-width: 350px;
    padding-right: 5% !important;
  }
  .iconMobile{
    padding: 42% 0% 0% 0%;
  }
  .mobile-only-text{
    padding: 5% 0% 0% 3.5%;
  }
  
}
  @media (min-width: 500px) {
    .navbarcollapse {
      left: 0%;
      top: 12%;
    }
    .espacioTop{
      margin-top: 10%;
    }
    .nav-links{
      padding:  6% 0% 6% 3% ;
      
    }
    .nav-link{
      padding: 6% 0% 6% 3% !important; 
      
    }
    
    .container {
      max-width: 480px;
  }
  }

  @media (min-width: 630px) {
    .navbarcollapse {
      top: 11%;
      left: 0%;
      
    }
    .espacioTop{
      margin-top: 10%;
    }
    .nav-links{
      padding:  4% 0% 4% 3% ;
      
    }
    .nav-link{
      padding: 4% 0% 4% 3% !important; 
      
    }
    .navbar-toggler{
      /* padding: 0% 0% 0% 38% !important; */
    }
  }
  @media (min-width: 768px) {
    .navbar-brand{
        width: 13%;
    }
    
    .nav-links{
      padding:  3.5% 0% 3.5% 3% ;
      
    }
    .nav-link{
      padding: 3.5% 0% 3.5% 3% !important; 
      
    }
    .iconMobile{
      padding: 30% 0% 0% 0%;
    }
    .mobile-only-text{
      padding: 4% 0% 0% 3.5%;
    }
   
  }

  @media (min-width: 990px) {
    .navbar-brand{
        width: 10%;
    }
    .navbarcollapse {
      top: auto;
      bottom: auto;
      left: 46%;
      width: 38%;
      display: flex;
      justify-content: space-between;
      text-align: right;
      background-color: rgb(255, 255, 255);
      z-index: 1000;

    }
    .iconnavbar{
      display: flex;
      flex-direction: row !important;
      align-items: center;
     width: 20%;
      width: 10%;
      align-items: right;
    }
    .iconnavbarMobile{
      display: none;
    }
    .navbar-brand{
      width: 10%;
      margin-left: 2.5%;
    }
    .containernavbar{
      margin: 0% 0% 0% 5% !important;
    }
    .mobile-only-text{
      display: none;
    }
    .mobile-only-text-agos{
      display: none;
    }
    
    
  }

  @media (min-width: 992px){

    .espacioTop{
      margin-top: 0%;
    }
    .nav-link {
      padding-right: var(--bs-navbar-nav-link-padding-x);
      padding-left: var(--bs-navbar-nav-link-padding-x);
    }
    .nav-links{
      display: flex;
      padding: 0%;
      text-align: center;
      justify-content: center;
      align-items: center;
      
      font-size: var(--bs-nav-link-font-size);
      font-weight: var(--bs-nav-link-font-weight);
      color: var(--bs-nav-link-color);
      text-decoration: none;
      background: white;
      border: 0;
      /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; */
      padding-left: .3em;
    }
    .nav-link{
      padding: 10%;
      padding-left: 1.2em !important;
      
    
    }
    .dropdown-item {
      display: block;
      width: 100%;
      padding: 2% 0% 2% 0% !important;
      color: rgb(108, 102, 102) !important;
      clear: both;
      font-weight: 400;
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      background-color: white !important;
      border: 0;
      border-radius: var(--bs-dropdown-item-border-radius,0);
    }
    .dropdown-menu {
      top: 140% !important;
      left: -31% !important;
      background-color: white !important;
    }
    .container {
      max-width: 1100px;
      padding-right: 0% !important;
    }
    
  }

  @media (min-width: 1090px) and (max-width: 1200px) {
    .containernavbar{
      max-width: 1100px !important;
    }
  }

  @media (min-width: 1200px) {
    .navbar-brand{
      width: 8%;
      margin-left: 0;
    }
    .iconnavbar{
      width: 8%;
      padding-right:2%;
      align-items: right;
     
    }
    .navbarcollapse {
      left: 52%;
    }
    .containernavbar{
      max-width: 1300px !important;
    }
    
  }
  @media (min-width: 1350px) {
    .containernavbar{
      max-width: 1450px !important;
    }
  }
  @media (min-width: 1550px) {
    .containernavbar{
      max-width: 1650px !important;
    }
  } 


  