/* .navbar {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
  
  .logo {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    display: none; /* Ocultar el icono de menú en pantallas más grandes */
    /* cursor: pointer;
    font-size: 1.5rem;
  }
  
  .sections {
    display: flex;
    gap: 1rem;
  }
  
  .sections a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
  }
  
  .icons {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
  }
  
  /* Estilos para pantallas más pequeñas (menos de 720px) 
  @media (max-width: 720px) {
    .sections {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-height: ${showMenu ? '500px' : '0'};
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }
  
    .sections.show {
      display: flex;
    } 
  
    .menu-icon {
      display: block;
    }
  }  */

  .containernavbar{
    --bs-gutter-x: 0 !important;
    justify-content: center;    
  }

  .bg-body-tertiary {
    --bs-bg-opacity: 0 !important;
  }
  .logoimg{
    width: 100%;
  }
 
  .navbar-brand{
    width: 20%;
    margin-left: 3%;
  }

  .navbar-collapse{
    flex-grow: 0 !important;
  }

  .navbar-toggler{
    border: solid rgba(240, 248, 255, 0) !important;
    width: 45%;
    text-align: right;
    padding: 0% !important;
  }
  .navbar-toggler:focus{
    text-decoration: none;
    box-shadow: none !important;
  }

  .iconnavbar{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    width: 20%;
  }

  .icon{
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
  }
  .iconcontainer{
    width: 100%;
    display: flex !important;
    align-items: center;
    padding-right: 5%;
  }
  
  .navbarcollapse {
    position: fixed;
    top: 13%;
    bottom: 100%;
    left: 65%;
    width: 50%;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.497);
    z-index: 1000;
    /* overflow-y: auto; */
}

.navbar{
  padding: 0 !important;
}
 

  @media (min-width: 500px) {
    .navbarcollapse {
      left: 68%;
      top: 18%;
    }
  }

  @media (min-width: 630px) {
    .navbarcollapse {
      left: 64%;
      
    }
  }
  @media (min-width: 768px) {
    .navbar-brand{
        width: 13%;
    }
    .navbarcollapse {
      left: 64%;
      
    }
  }

  @media (min-width: 990px) {
    .navbar-brand{
        width: 10%;
    }
    .navbarcollapse {
      top: auto;
      bottom: auto;
      left: 46%;
      width: 38%;
      display: flex;
      justify-content: space-between;
      text-align: right;
      background-color: rgb(255, 255, 255);
      z-index: 1000;

    }
    .iconnavbar{
      width: 10%;
      align-items: right;
    }
    .navbar-brand{
      width: 10%;
      margin-left: 2.5%;
    }
    .containernavbar{
      margin: 0% 0% 0% 5% !important;
    }
  }
  @media (min-width: 1090px) and (max-width: 1200px) {
    .containernavbar{
      max-width: 1100px !important;
    }
  }

  @media (min-width: 1200px) {
    .navbar-brand{
      width: 8%;
      margin-left: 0;
    }
    .iconnavbar{
      width: 8%;
      padding-right:2%;
      align-items: right;
     
    }
    .navbarcollapse {
      left: 52%;
    }
    .containernavbar{
      max-width: 1300px !important;
    }
  }
  @media (min-width: 1350px) {
    .containernavbar{
      max-width: 1450px !important;
    }
  }