
.cargandoContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;  
}

.cargando{
  text-align: center;
    font-weight: bold;
    font-size: medium;
    color: #a2a2a2;
    padding-top: 5vh;

} 

/* HTML: <div class="loader"></div> */
.loader {
  width: 90px;
  aspect-ratio: 1;
  background:
    linear-gradient(90deg,#CEE879 50%,#FF5254 0) top/100% 50% no-repeat,
    linear-gradient(90deg,#FCB653 50%,#5CACC4 0);
  -webkit-mask:linear-gradient(#000 0 0) 0 0/50% 50% no-repeat;
  animation: l18 2s infinite; 
}
@keyframes l18 {
  0%   {-webkit-mask-position:0    0   }
  25%  {-webkit-mask-position:100% 0   }
  50%  {-webkit-mask-position:100% 100%}
  75%  {-webkit-mask-position:0    100%}
  100% {-webkit-mask-position:0    0   }
}