.contenedorPI{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

.contenedorPC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 23vh;
    
}


@media (min-width: 760px) {

    .contenedorPI{
        /* display: flex;
        flex-flow: row wrap; */
        display: block;
        columns: 4 220px;
        column-gap: .3em;
        padding-right: 15vw;
        /* display: grid;
        grid-template-columns: repeat(3, 1fr); /
         grid-auto-flow: dense; 
         grid-auto-rows: auto;  */
    }
    .contenedorPC{
        display: block;
        columns: 5 170px;
        column-gap: 0em;
        padding-right: 15vw;
        margin-top: 23vh;
        
    }

    
}
