.containerCS{
    margin-top: 35vh;
    margin-bottom: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.CS{
    font-size: xx-large;
}

.P{
    font-size: large;
}